@media only screen and (min-width: 761px) {
    article.news-entry{
        font-size: 24px;
    }
}

@media only screen and (max-width: 760px) {
    article.news-entry{
        font-size: 16px;
    }
}

article.news-entry header{
    background: #eee;
}
article.news-entry header em{
    color: #999;
}

article.news-entry section.news-entry-content{
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}