<?xml version="1.0" ?>
<config>
    <modules>
        <Emagedev_Yanws>
            <version>0.1</version>
        </Emagedev_Yanws>
    </modules>
    <admin>
        <routers>
            <yanws>
                <use>admin</use>
                <args>
                    <module>Emagedev_Yanws</module>
                    <frontName>yanws</frontName>
                </args>
            </yanws>
        </routers>
    </admin>
    <default>
        <yanws_section>
            <widget_group>
                <show>1</show>
                <save_tags>0</save_tags>
                <force_truncate>1</force_truncate>
            </widget_group>
            <feed_group>
                <save_tags>1</save_tags>
                <force_truncate>0</force_truncate>
            </feed_group>
        </yanws_section>
    </default>
    <adminhtml>
        <menu>
            <yanws module="yanws">
                <title>Yanws</title>
                <sort_order>77</sort_order>
                <children>
                    <grid module="yanws" translate="title">
                        <title>Manage news</title>
                        <sort_order>0</sort_order>
                        <action>yanws/adminhtml_yanws</action>
                    </grid>
                </children>
                <children>
                    <entry module="yanws" translate="title">
                        <title>Add news entry</title>
                        <sort_order>0</sort_order>
                        <action>yanws/adminhtml_yanws/new</action>
                    </entry>
                </children>
         </yanws>
        </menu>
        <layout>
            <updates>
                <yanws>
                    <file>yanws.xml</file>
                </yanws>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <yanws_section>
                                            <title>Yanws Section</title>
                                        </yanws_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <yanws>
                    <files>
                        <default>Emagedev_Yanws_Adminhtml.csv</default>
                    </files>
                </yanws>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <yanws>
                    <file>yanws.xml</file>
                </yanws>
            </updates>
        </layout>
        <routers>
            <yanws>
                <use>standard</use>
                <args>
                    <module>Emagedev_Yanws</module>
                    <frontName>news</frontName>
                </args>
            </yanws>
        </routers>
        <translate>
            <modules>
                <Mage_Poll>
                    <files>
                        <default>Emagedev_Yanws.csv</default>
                    </files>
                </Mage_Poll>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <yanws>
                <class>Emagedev_Yanws_Model</class>
                <resourceModel>yanws_resource</resourceModel>
            </yanws>
            <yanws_resource>
                <class>Emagedev_Yanws_Model_Resource</class>
                <entities>
                    <news>
                        <table>yanws_news</table>
                    </news>
                </entities>
            </yanws_resource>
        </models>
        <helpers>
            <catalog>
                <class>Mage_Catalog_Helper</class>
            </catalog>
            <yanws>
                <class>Emagedev_Yanws_Helper</class>
            </yanws>
        </helpers>
        <blocks>
            <yanws>
                <class>Emagedev_Yanws_Block</class>
            </yanws>
        </blocks>
        <resources>
            <yanws_setup>
                <setup>
                    <module>Emagedev_Yanws</module>
                </setup>
            </yanws_setup>
        </resources>
        <events>
            <cms_wysiwyg_config_prepare>
                <observers>
                    <variable_observer>
                        <class>core/variable_observer</class>
                        <method>prepareWysiwygPluginConfig</method>
                    </variable_observer>
                </observers>
            </cms_wysiwyg_config_prepare>
        </events>
    </global>
</config>