<config>
    <tabs>
        <yanws_tab>
            <label>Yanws</label>
            <sort_order>100000</sort_order>
        </yanws_tab>
    </tabs>
    <sections>
        <yanws_section translate="label">
            <label>Yanws settings</label>
            <tab>yanws_tab</tab>
            <frontend_type></frontend_type>
            <sort_order>910</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <widget_group translate="label">
                    <label>Sidebar widget</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <show translate="label">
                            <label>Show sidebar widget</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show>
                        <save_tags translate="label">
                            <label>Save html tags in articles</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><show>1</show></depends>
                        </save_tags>
                        <force_truncate translate="label comment">
                            <label>Force truncate articles</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Force truncate news entries, even if there's a manually written shorten version.</comment>
                            <depends><show>1</show></depends>
                        </force_truncate>
                        <!-- TODO: maybe add a MAX_WORDS field -->
                    </fields>
                </widget_group>
                <feed_group>
                    <label>News feed</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <save_tags translate="label">
                            <label>Save html tags in articles</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </save_tags>
                        <force_truncate translate="label comment">
                            <label>Force truncate articles</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Force truncate news entries, even if there's a manually written shorten version.</comment>
                        </force_truncate>
                    </fields>
                </feed_group>
                <titles_group translate="label">
                    <label>Titles</label>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <widget_title translate="label">
                            <label>Widget title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </widget_title>
                        <feed_title translate="label">
                            <label>Feed title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </feed_title>
                    </fields>
                </titles_group>
            </groups>
        </yanws_section>
    </sections>
</config>